:root{
--Strong-cyan:#c4e940;
--Very-dark-cyan:#c03026;
--Dark-grayish-cyan:#3D7DCA;
--Light-grayish-cyan:#3D7DCA;
--Very-light-grayish:#f4fafa;
--White:#ffffff;

--ff: "space mono", sans-serif;
--fw-700:700;
--fs-input:1.5rem;
--fs-base: 1rem;
}

/*reset*/
*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/*typography/text styles */

.title{
    text-align: center;
    line-height: 1;
    letter-spacing: 8px;
    margin: 0 0 2rem;
}

.pokeball-logo {
  display: block;
  margin: -49px auto 2rem;     
  max-width: 50px;         
  height: auto;
  position: relative;  
  z-index: -1;   
}
.viwer-Img-pokemon {
  display: block;  
  max-width: 10000px;         
  height: auto;
  position: relative;  
 
}

button{
    color: var(--White);
    width: 100%;
    display:inline-block ;
    background: var(--Very-dark-cyan);
    padding: 1rem;
    border: none;
    transition: .2s ease-in background ;
}

input[type="number"]{
    text-align: right;
    color: var(--Very-dark-cyan);
    display: inline-block;
    width: 100%;
    padding: 1rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
    border: 1px solid var(--Strong-cyan);
    background-color:var(--Light-grayish-cyan) !important ;
}

#custom-input{
    margin: 0;
}

input,button{
    font: inherit;
    font-size: var(--fs-input);
    border-radius: .2rem;
}

body{
    font-family: var(--ff);
    font-weight: var(--fw-700);
    font-size: var(--fs-base);
    color: var(--Very-dark-cyan);
    padding: 4rem 0;
    background: linear-gradient(to bottom, #6ab7f5,#fff);
}

/*helper classes */
.grid{
    display: grid;
}

.flex{
    display: flex;
    align-items: center;
}


/*typography/text styles */

.title{
    text-align: center;
    line-height: 1;
    letter-spacing: 8px;
    margin: 0 0 2rem;


}

label{
    display: inline-block;
    color: var(--Dark-grayish-cyan);
    margin-bottom: 1rem;
}

.viwer-name-pokemon,.viwer-name{
color: var(--Strong-cyan);
font-size: 2rem;
}

small{
    color:var(--Dark-grayish-cyan);
}
/*ui elements*/

#pokemonBox-Title{
   background: url('images/icon-dollar.svg') no-repeat;
   background-position: 2% 50%;
}

.reset-btn{

    text-transform: uppercase;
    color: var(--Very-dark-cyan);
    transition: .2s ease opacity ;
    opacity: 40%;
    background: var(--Strong-cyan) ;

}

.reset-btn:hover{
    opacity: 100%;
}

.select-pokemon-button:hover{
    background: var(--Strong-cyan);
}

.select-types-button{
    background: var(--Dark-grayish-cyan);
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    color: var(--White);
    width: 100%;
    display:inline-block ;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    }



/*layout styles*/

.pokemon-container{
    gap:2rem;
    padding: 1.5rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background:var(--White) ;
}

.select-buttons{
    grid-template-columns: repeat(2,1fr);
    gap:1rem
}

.viwer-container{
    gap: 2rem;
    color: var(--White);
    padding: 1.75rem;
    border-radius: 1rem;
    background: var(--Very-dark-cyan);
}

.small-viwer{
    justify-content: space-between;
}
.small-viwer:nth-of-type(2){
    margin-top: 2rem;
}

.result-box{
        align-items: initial;
        flex-direction: column;
        gap: 2rem;
    }


.pokemonImageBox{
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 250px;         
  width: 100%;
  background-color: #b6f7f7e5;
  border-radius: 20px;
    }
.pokemonImageBox img {
  width: 100px;   /* adjust as needed */
  height: auto;  
}


/*media query */
@media  screen and (min-width: 650px) {
    .pokemon-container{
        max-width: 60rem;
        margin-inline: auto ;
        grid-template-columns: repeat(2,1fr) ;
    }

    .select-buttons{
        grid-template-columns: repeat(3,1fr);
    }

    
}