 .adviceBox {
  width: 90%;
  max-width: 600px;
  border-radius: 25px;
  padding: 1rem;
  color: rgb(222, 231, 238);
  background-color: hsl(217, 23%, 24%);
  text-align: center;
  }

  .divAdiveceBox {
  width: 90%;
  max-width: 600px;
  border-radius:25px;
  margin:auto ;
  padding: 1rem;
  color: rgb(213, 220, 224);
  background-color: hsl(217, 23%, 24%);
  }